<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWala.com</title>
    <link rel="stylesheet" href="./css/food.css">
    <link rel="stylesheet"  media="scrren and (max-width:1350px)" href="phone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="./img/logo1.png" alt="" srcset="">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Services</a></li>
            <li class="item"><a href="#">About</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
        </ul>
        <input type="text" placeholder="search here">
        <!-- <div class="btn"><i class="fas fa-search"></i></div> -->
        <button class="button">search</button>
        <!-- <div id="toggle"> -->
        <!-- <i class="fas fa-bars" aria-hidden="true"></i> -->

        </div>

    </nav>
    <section id="home">
        <h1 class="h-primary">Welcome to FoodWala</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sint facilis dolore Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Architecto, vel!
        </p>
        <button class="btn">Order Now</button>
    </section>
    <section class="services-container">
        <h1 class="h-primary">Our Services</h1>
        <div class="services">
            <div class="box">
                <img src="img/pizza.jpg" alt="" srcset="">
                <h2 class="h-secondary center">Food catering</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="box">
                <img src="img/pasta.jpg" alt="" srcset="">
                <h2 class="h-secondary center">Food ordering</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="box">
                <img src="img/delivery.jpg" alt="" srcset="">
                <h2 class="h-secondary center">Food delivery</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

        </div>

    </section>
    <section id="client-section">
        <h1 class="h-primary center">Our clients</h1>
            <div id="clients">
                <div class="client-item">
                    <img src="img/log.png" alt="our client" srcset="">
                </div>
                <div class="client-item">
                    <img src="img/snaplogo.jpg" alt="our client" srcset="">
                </div>
                <div class="client-item">
                    <img src="img//tcs.png" alt="our client" srcset="">
                </div>
                <div class="client-item">
                    <img src="img/google.jpg" alt="our client" srcset="">
                </div>
                <div class="client-item">
                    <img src="img/hp.png" alt="our client" srcset="">
                </div>

            </div>
    </section>
    <secrion id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="",method="post">
                <div class="form-group">
                    <label for="name">Name :-</label>
                    <input type="text" name="name" placeholder="Enter your Name">
                </div>
                <div class="form-group">
                    <label for="name">Phone :-</label>
                    <input type="Phone" name="Phone" placeholder="Enter your Phone">

                </div>
                <div class="form-group">
                    <label for="name">Email :-</label>
                    <input type="Email" name="Email" placeholder="Enter your Email">

                </div>
                <div class="form-group">
                    <label for="name">Address :-</label>
                    <input type="Address" name="Address" placeholder="Enter your Address">
                    <!-- <textarea name="Address" id="" cols="30" rows="2"></textarea> -->
                    <button class="btn-sumit">sumit</button>

                </div>

            </form>   
        </div>
    </secrion>

     <footer> 
         <div class="center">
        @copyright &copy; www.Foodwala.com All  right reserved
        Thanks for wisiting over FoodWala.com
    </footer> 
</body>

</html>